fp1/hardware/vivado_design/lib/ip/debug_bridge_0/
fp1/hardware/vivado_design/lib/ip/ila_0/
fp1/hardware/vivado_design/lib/ip/rdimma_x8_16GB_2133Mbps/
fp1/hardware/vivado_design/lib/ip/rdimmb_x8_16GB_2133Mbps/
fp1/hardware/vivado_design/lib/ip/rdimmd_x8_16GB_2133Mbps/
fp1/hardware/vivado_design/lib/sim/precompiled/questa_lib/
fp1/hardware/vivado_design/lib/sim/precompiled/vcs_lib/
fp1/hardware/vivado_design/lib/sim/vip/ddr4_model/
fp1/hardware/vivado_design/lib/sim/vip/ddr4_rdimm_wrapper/
fp1/hardware/vivado_design/examples/example1/sim/report
fp1/hardware/vivado_design/examples/example1/sim/wave
fp1/hardware/vivado_design/examples/example1/sim/work
fp1/hardware/vivado_design/examples/example2/sim/report
fp1/hardware/vivado_design/examples/example2/sim/wave
fp1/hardware/vivado_design/examples/example2/sim/work
fp1/hardware/vivado_design/examples/example3/sim/report
fp1/hardware/vivado_design/examples/example3/sim/wave
fp1/hardware/vivado_design/examples/example3/sim/work
fp1/.find_tmp
fp1/hardware/vivado_design/lib/sim/libs/
fp1/hardware/vivado_design/lib/checkpoints/SH_*