# !/bin/sh
#
#-------------------------------------------------------------------------------
#      Copyright 2017 Huawei Technologies Co., Ltd. All Rights Reserved.
# 
#      This program is free software; you can redistribute it and/or modify
#      it under the terms of the Huawei Software License (the "License").
#      A copy of the License is located in the "LICENSE" file accompanying 
#      this file.
# 
#      This program is distributed in the hope that it will be useful,
#      but WITHOUT ANY WARRANTY; without even the implied warranty of
#      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#      Huawei Software License for more details. 
#-------------------------------------------------------------------------------

#. /software/bashrc
#
## Software setup
#
#export NOVAS_FSDB_ENV_DUMP_SEQ_NUM=on
#export NOVAS_FSDB_ENV_MAX_GLITCH_NUM=0

# Simulation Macro {{{
# This option shoulb be specified when user have own sim marco
SIM_MACRO="USE_DDR_MODEL 
           ACC_LEN_CFG=1 "
# }}}

# Simulation Library {{{
# This option can be file, filelist or directory
SIM_LIB=""
# }}}

# Simulation Source {{{
# This option can be file, filelist or directory
SIM_SRC=""
# }}}

# Coverage Enable {{{
# This option can be line cond branch assert fsm tgl path. If more than one
# option selected, please use " " as spliter
COV_OPT="line cond branch assert fsm"
# }}}

